header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 30px 32px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

header.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}

.logo-desktop img {
    display: block;
    height: 55px;
}

.logo-desktop a {
    cursor: default;
}

.btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgb(56, 58, 181);
    background-color: rgb(40, 63, 191);
    width: auto;
    height: 50px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: color 0.3s, border-color 0.3s;
    font-weight: bold;
    font-size: 16px;
    padding: 0 20px;
    white-space: nowrap;
}

.btn::before {
    content: "";
    background-color: rgb(69, 89, 202);
    position: absolute;
    inset: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: all 1s;
    z-index: -1;
    border-radius: 5px;
}

.btn:hover {
    color: white;
    border-color: transparent;
}

.btn:hover::before {
    transform: scale(1, 1);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../image/A_large_blank_world_map_with_oceans_marked_in_blue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

.selectors {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

select {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #007BFF;
}

#map {

    height: 600px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid black;


}